body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #383636;
    overflow: hidden;
}

.field {
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid blue;
    height: calc(100% - 20px);
}

button {
    padding: 10px 20px;
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.1s ease;
}
