body {
    background-color: #d3cfcf;
}
.wrapper {
}
.game {
    &__result-title{
        margin-bottom: 120px;
        font-size: 26px;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px black;
        font-weight: 900;
    }
    &__count-title{

    }
    &__wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 2px solid #5c5652;
        box-shadow: inset 0px 0px 10px black;
        margin-top: 25vh;
        padding-top: 30px;
        padding-bottom: 20px;
        width: 400px;
        height: 300px;
        border-radius: 100px;
        background-color: #f5d4aa;
    }

    &__container {
        display: flex;
        justify-content: center;
    }
    &__elements{
        display: flex;
        height: 120px;
    }
    &__item {
        align-self: center;
        display: inline-block;
        max-width: 80px;
        max-height: 80px;
        border: 2px solid #646464;
        border-radius: 50%;
        padding: 20px;
        background-color: #fff5d5;
        margin: -15px;
        &:nth-child(2) {
            position: relative;
            margin-bottom: 180px;
        }
        & img {
            width: 100%;
            transition: 1s;
            cursor: pointer;
            &:hover {
                filter: drop-shadow(-15px 12px 5px rgba(0, 0, 0, 0.616));
                transform: scale(1.02);
            }
        }

    }
}
.img {
    &__img-scissors {
        transform: rotate(-130deg);
        // filter: drop-shadow(15px -12px 5px rgba(0, 0, 0, 0.616));
    }
}
.win{
    font-weight: bold;
}